#!/usr/bin/make -f

export ROOT = debian/tmp

%:
	dh $@

override_dh_install:
	install -d $(ROOT)/usr/bin
	install -p memtop $(ROOT)/usr/bin
	install -p schedtop $(ROOT)/usr/bin
	install -p occtop $(ROOT)/usr/bin
	install -p k8smetrics $(ROOT)/usr/bin
	install -p portscanner $(ROOT)/usr/bin
	install -p watchpids $(ROOT)/usr/bin

	dh_install
