stestr>=4.1.0
six>=1.16.0
oslo.config>=8.3.3
oslo.concurrency>=4.3.1
oslo.serialization>=4.0.2
prettytable>=0.7.2
numpy>=1.19.5
httplib2>=0.18.1
urllib3>=1.26.5
psutil>=5.9.8
sqlalchemy>=1.4.47
python-novaclient>=17.2.1
python-cinderclient>=7.2.0
python-glanceclient>=3.2.2
python-keystoneclient>=4.1.1
keystoneauth1>=4.2.1
keystonemiddleware>=9.1.0
kubernetes>=34.1.0
mock>=5.1.0
